/* Колір основного тексту #212121 */
/* Вторинний колір тексту #757575 */
/* Вторинний колір фону #2F303A / #F5F4FA */
/* Білий #FFFFFF #EEEEEE */
/* Акцент #2196F3 / #188CE8 */
/* Вторинний колір фону #2F303A */

:root{ 
--primary-text-color:#212121;
--title-text-color:#757575;
--accent-color: #2196F3;
--primary-white-color: #fff;
--secondary-bcg-color:#2F303A;
--third-bcg-color: #F5F4FA;
--accent-secondary-color: #188CE8;
--border-color: #EEEEEE;
--clients-color: #AFB1B8;
--box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);}

html{ box-sizing: border-box;}
*,
*::before,
*::after {
  box-sizing:inherit;}

body { 

background-color:var(--primary-white-color);
color: var(--title-text-color);
font-family: 'Roboto',sans-serif;
letter-spacing: 0.03em;}

ul { padding: 0;
     margin: 0;
     list-style: none;}
a {text-decoration: none;}

h1, h2, h3, h4, h5, h5, p { margin-top: 0;
margin-bottom: 0;}

img{ 
display: block;
width: 100%;}

textarea{ resize: none;}

.container{ 
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  width: 1200px;
  
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Site header */


.page-header{
 
 width: 100%;
 top: 0;
 left: 0;
 min-height: 80px;
 border-bottom: 1px solid var(--border-color);
 background-color: var(--primary-white-color);
 
}


  .logo {
   
color:var(--accent-color); text-decoration: none;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;}


/* Main nav */

.main-nav{ display: flex;
align-items: center;
}

.logo_accent{ color:var(--primary-text-color);}

.site-nav{ 
display: flex; 
margin-left: 93px;
}

.site-nav .site-nav__item + .site-nav__item{
  margin-left: 50px;
}

.site-nav .site-nav__link { 
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color:var(--primary-text-color); 
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); }

  .site-nav__link.current::after {
    content: '';
    position: absolute;
    display: blok;
    width:100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: #2196F3;
    border-radius: 2px;
    }
  
  
    


    .site-nav .site-nav__link:hover , .site-nav .site-nav__link:focus { color:var(--accent-color);text-decoration: none;}
 
/* Contacts */
.site-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  
  
}

.site-contact .site-contact__item + .site-contact__item{
    margin-left: 50px;
  }

.site-contact__link{
  color: var(--title-text-color); 
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); }

.site-contact .site-contact__link:hover , .site-contact .site-contact__link:focus { color:var(--accent-color);}

.site-contact__icon{ 
position:relative;
top: 1.5px;
margin-right: 10px;
fill:currentColor;}

.site-nav__link.current { color: var(--accent-color);}

/* Hero */
.hero{ 
  padding-top: 200px;
  padding-bottom:200px;
  text-align: center;
 }
 
 .overlay{  
  background-image:linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/hero_fon.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-bcg-color);
  
 }


 .hero__title {
  width: 696px;
  margin: 0 auto 30px;
  color:var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-transform: uppercase;
}



/*  Hero button */
.hero__button { 
  border: none;
  padding: 10px 32px;
  background-color: var(--accent-color);
  border-radius: 4px;
  display: inline-block;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.hero__button:hover , .hero__button:focus{ background-color: var(--accent-secondary-color); } 



/* Features */

.feature{ padding-top: 94px;}

.feature__list{
  display: flex;
  gap: 30px;}

.feature__list .feature__title { color:var(--primary-text-color);}

.feature__text{ 
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--title-text-color);
}


  

.feature__wrapper{
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--third-bcg-color);
  width: 270px;
  height: 120px;
  align-items: center;
 }

 .feature__title{
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;}

/* Section */ 
.visually-hidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} 

.section-title {
  
  margin-top: 0;
  margin-bottom: 50px;
  
  color:var(--primary-text-color); 
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Чим ми займаємося */

.section-services{ 
 padding-top: 0;
  padding-bottom: 94px;
}

.services{ 
position: relative;
display: flex;
gap: 30px;}



.services__text{
position: absolute;
display:flex;
justify-content: center;
align-items: center;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
width: 370px;
height: 70px;
background-color: rgba(47, 48, 58, 0.8);;
bottom: 0;
color:var(--primary-white-color);

}


  /* Team */
  .section-team{ 
    background-color: var(--third-bcg-color);
    padding-bottom: 94px;
    padding-top: 94px;
  }

.team{display: flex;}
.team .team-user+ .team-user{
  margin-left: 30px;
}
.team li { background-color: var(--primary-white-color);}
.team-user{ 
border-radius: 0px 0px 4px 4px;
box-shadow: var(--box-shadow);}



  .team-user__items{ padding-top: 30px;
  padding-bottom: 30px;
}

  .team-user__name{ 
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;}
   
  .team-user__position{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;}

/* Socials */

.social-list{
  display:flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px; 
}

.social-list__link{ 
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--clients-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) , background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.social-list__icon{ fill:currentColor;}
.social-list__link:hover , .social-list__link:focus{border-radius: 50%; background-color: var(--accent-color); color: var(--primary-white-color);}

 /* Постійні клієнти */


.clients-list{ 
  display: flex;
  gap: 30px;
  

}

.clients-list__link{ 
  display: flex;
  align-items: center;
  justify-content: center; 
  color: var(--clients-color);
  border: 1px solid ;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 

}


.clients-list__link:hover , .clients-list__link:hover .clients-list__icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-list__icon{ 
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
fill:currentColor;
}


  
  /* Footer */
.footer { 
padding-top: 60px;
padding-bottom: 60px;
background-color: var(--secondary-bcg-color);
font-size: 14px;
line-height: 1.71;
}
.logo-footer { 
  display: block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;}

.logo-footer__accent{ color: var(--primary-white-color);}

.footer-contact{
margin-bottom: 9px;
transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1) ; 
}

.footer-contact__link{
  font-size: 14px;
  line-height:1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  
}


.footer-contact__location { 
  color: var(--primary-white-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
}

.footer-contact__location:hover , .footer-contact__location:focus { color:var(--accent-color);}
.footer-contact .footer-contact__link:hover , .footer-contact .footer-contact__link:focus { color:var(--accent-color);}

/* Footer social */
.footer-social__title{ 
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: var(--primary-white-color);
}

.footer-nav{ display:flex;
  align-items:baseline;}

.footer-social{ margin-left: 70px;}

.footer-social__link{ 
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) , background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
  ; 

}
.footer-social__icon{ fill:currentColor;}

.footer-social__list{
  display:flex;
  gap: 10px;
   
}
.footer-social__link:hover , .footer-social__link:focus {border-radius: 50%; background-color: var(--accent-color); color: var(--primary-white-color);}

/* Footer Input */


.footer-subscription{

margin-left: auto;
}

.footer-subscription input{

width: 358px;
height: 50px;

padding: 15px 16px;

border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;

background-color: var(--secondary-bcg-color);
color: var(--primary-white-color);

outline: none;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.footer-subscription input:hover , .footer-subscription input:focus{ border-color: var(--accent-color);}

.footer-subscription__label{display: flex;}

.footer-subscription__button{
display:flex;
align-items: center;
justify-content: center;

border: none;
cursor: pointer;

width: 200px;
height: 50px;
background-color:var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin-left: 12px;

color: var(--primary-white-color);
font-weight: 700;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.06em;

 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
}

.footer-subscription__icon{
  margin-left: 10px;
  fill: currentColor;
}
 
.footer-subscription__button:hover { background-color: var(--accent-secondary-color);}



 /* Backdrop */
 .backdrop{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}


.modal{
  position: relative;
  top: 50%;
  left: 50%;

  padding: 40px;

  width: 528px;
  
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
  transform: translate(-50% , -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) , box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Button close  modal */
.modal-button__close{
position: absolute;
display: flex;

align-items: center;
top: 8px;
right: 8px;

width: 30px;
height: 30px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: var(--primary-white-color);
cursor: pointer;

}

.close-black{ 
display: flex;
justify-content: center;

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button__close:hover .close-black { fill: var(--accent-color);}



.modal-title{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);

margin-bottom: 12px;
}


/* Form */

.form-list{
  position: relative;
  width: 100%;
}

.form-field{
display: flex;
flex-direction: column;
position: relative;
margin-bottom: 10px;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

}

.form-field__label{
  margin-bottom: 4px;
}

.form-field__input{
  position: relative;
  width: 448px;
  height: 40px;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  padding-left: 42px;
  outline: none;
  
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.form-field__icon{
  display: inline-block;
  position: absolute;
  
  left: 15px;
  top: 50%;
  
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.form-field__input:focus , .form-field__input:hover{
  border-color: var(--accent-color);
}

.form-field__textarea{ 
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  
  color: rgba(117, 117, 117, 0.5);
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea:hover , .form-field__textarea:focus{ border-color: var(--accent-color);}

.form-consent{
position: relative;
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
cursor: pointer;
}

.form-consent__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border-radius: 2px;
}
.form-consent__icon{
  display: block;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.form-consent__check{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid var(--primary-text-color);

  transition:  border 250ms cubic-bezier(0.4, 0, 0.2, 1) , background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  .form-consent__checkbox:checked + .form-consent__check{
    background-color: var(--accent-color);border: 1px solid var(--accent-color);
  }
.form-consent__checkbox:checked + .form-consent__check .form-consent__icon{
  opacity: 1;
  }

.form-link{ 
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-button__send{
display: block;

font-weight: 700;
font-size: 16px;
line-height: 1.8;
color: var(--primary-white-color);

margin: 30px auto 0;

width: 200px;
height: 50px;
border-radius: 4px;
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: none;
cursor: pointer;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-button__send:hover{ background-color: var(--accent-secondary-color);}



/* Portfolio */

  .pf-nav__button{ 
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height:1.62;
    font-family:inherit;
    cursor: pointer;
    color: var(--primary-text-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) , background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
  .pf-nav .pf-nav__button:hover , .pf-nav .pf-nav__button:focus { background-color: var(--accent-color);color:var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}
  
  .pf-nav{ 
    display: flex;
     margin-bottom: 50px;
    justify-content: center;

  }
  
  .pf-nav .pf-nav__link + .pf-nav__link { margin-left: 10px;}

/* Portfolio content */

.portfolio-card__title{ 
 margin-bottom: 4px;
 color: var(--primary-text-color);
 font-weight: 700;
 font-size: 18px;
 line-height:2;
 letter-spacing: 0.06em;}

.portfolio__link{ 
display: block;
color: var(--title-text-color);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__text{ 
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
padding: 20px 24px; }


.portfolio{ 
 display: flex;
 flex-wrap: wrap;
 }

.portfolio__item{ 
 
border: 1px solid var(--border-color);
background-color: var(--primary-white-color);
width:calc( ( 100% - 60px ) / 3 );
margin-right: 30px;
margin-bottom: 30px;
} 
.portfolio__item:nth-child(3n){margin-right:0;}

.portfolio__item:nth-last-child(-n + 3){margin-bottom: 0;}

.portfolio__link:hover , .portfolio__link:focus{ box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}

.portfolio__item:hover .portfolio-thumb__text{
  transform:translateY(0%)
}
.portfolio__item:hover .portfolio-thumb::before{
  transform:translateY(0%)
}

.portfolio-thumb{
  display: block;
  position: relative;
  overflow: hidden;
  
}

.portfolio-thumb::before{ 
  content:'';
  display:block;
  
  position: absolute;
  
  width:100%;
  height:100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  
  transform:translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb__text{
position: absolute;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
color: var(--primary-white-color);
padding: 63px 24px;

transform:translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
